In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dfs = []

for i in range(1, 32):
    if i < 10:
        df = pd.read_csv('data/CAISO-netdemand-2021050%d.csv' % i, on_bad_lines='skip')
        label = 'Net Demand 05/0' + str(i) + '/2021'
    else:
        df = pd.read_csv('data/CAISO-netdemand-202105%d.csv' % i, on_bad_lines='skip')
        label = 'Net Demand 05/' + str(i) + '/2021'
    df.rename(columns={label: ' '}, inplace=True)
    df.iloc[1, 0] = label
    df.drop([0], inplace=True)
    dfs.append(df)

df_load = pd.concat(dfs)
df_load.to_csv('CAISO-netdemand-2021-05.csv')
df_load.head()

,,00:00,00:05,00:10,00:15,00:20,00:25,00:30,00:35,00:40,...,9:15,9:20,9:25,9:30,9:35,9:40,9:45,9:50,9:55,0:00.1
1,Net Demand 05/01/2021,23656.0,23599.0,23552.0,23327.0,23216.0,23111.0,22980.0,22865.0,22731.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/02/2021,21605.0,21606.0,21553.0,21438.0,21368.0,21279.0,21180.0,21110.0,21066.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/03/2021,20875.0,20944.0,20890.0,20792.0,20711.0,20629.0,20563.0,20529.0,20446.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/04/2021,23020.0,22899.0,22901.0,22784.0,22681.0,22564.0,22497.0,22391.0,22279.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Net Demand 05/05/2021,23708.0,23599.0,23599.0,23522.0,23392.0,23296.0,23178.0,23094.0,22985.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN