In [45]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_week1 = pd.read_csv(r'data/CAISO-demand-2021-05-week1.csv')
dfs = [df_week1]

for i in range(8, 32):
    if i < 10:
        df = pd.read_csv(r'data/CAISO-demand-2021050' + str(i) + '.csv')
    else:
        df = pd.read_csv(r'data/CAISO-demand-202105' + str(i) + '.csv')
    df.drop(axis=0, index=[0, 1, 3], inplace=True)
    df.iloc[0,0] = df.columns[0]
    df.rename(columns = {list(df)[0]:' '}, inplace=True)
    dfs.append(df)

# dfs[5].head()
# print(len(dfs))
df_month = pd.concat(dfs)

df_month.to_csv('CAISO-demand-2021-05.csv', index=False)

In [76]:
import numpy as np
df = pd.read_csv(r'data/CAISO-demand-2021-05.csv')
idx = np.random.choice(31)
print(idx)
idx = 1
print(df.iloc[idx, 1])
df.head()

9
21605.0

,,00:00,00:05,00:10,00:15,00:20,00:25,00:30,00:35,00:40,...,9:15,9:20,9:25,9:30,9:35,9:40,9:45,9:50,9:55,0:00.1
0,Demand 05/01/2021,23656.0,23599.0,23552.0,23327.0,23216.0,23111.0,22980.0,22865.0,22731.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Demand 05/02/2021,21605.0,21606.0,21553.0,21438.0,21368.0,21279.0,21180.0,21110.0,21066.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Demand 05/03/2021,20875.0,20944.0,20890.0,20792.0,20711.0,20629.0,20563.0,20529.0,20446.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Demand 05/04/2021,23020.0,22899.0,22901.0,22784.0,22681.0,22564.0,22497.0,22391.0,22279.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Demand 05/05/2021,23708.0,23599.0,23599.0,23522.0,23392.0,23296.0,23178.0,23094.0,22985.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN